
<html>

<body>

<form action="gen-qrcode-req">
    名称1:<br>
    <input type="text" name="key1" value="key1"><br>
    内容1:<br>
    <input type="text" name="value1" value="value1"><br>
    名称2:<br>
    <input type="text" name="key2" value="key2"><br>
    内容2:<br>
    <input type="text" name="value2" value="value2"><br>
    名称3:<br>
    <input type="text" name="key3" value="key3"><br>
    内容3:<br>
    <input type="text" name="value3" value="value3"><br>
    名称4:<br>
    <input type="text" name="key1" value="key4"><br>
    内容4:<br>
    <input type="text" name="value4" value="value4"><br>
    名称5:<br>
    <input type="text" name="key5" value="key5"><br>
    内容5:<br>
    <input type="text" name="value5" value="value5"><br>
    名称6:<br>
    <input type="text" name="key6" value="key6"><br>
    内容6:<br>
    <input type="text" name="value6" value="value6"><br>
    
    <br>
    <input type="submit" value="Submit">
</form>

</body>

</html>
